*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #212A29;
  color: #f1EEA9;
}

main{
  width: 100%;
  padding: 10px;
}
/* -- Player Card -- */
.player-card-list{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 540px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
  border: 2px solid black;
}

.player-card-item{
  background-color: #3E2221;
  width: 180px;
  height: 180px;
  padding: 5px;
  border: 5px solid black;
  transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.player-card-item:hover{
  border-color: #8A9524;
}

.player-card-item p{
  margin: 5px 0;
}
.player-card-item p:nth-child(1){
  font-weight: bold;
  font-size: 1.2rem;
}
.input-values{
  color: #EE4A20;
  font-size: 12px;
}

/* Submit Form */
.recap-update-station{
  padding: 5px;
  width: 100%;
  border: 2px solid black;
}

.section-header h2{
  font-size: 2rem;
  display: inline-block;
  background-color: #3E2221;
  padding: 5px;
  border: 5px solid black;
  margin-bottom: 5px;
}

.section-header h3{
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-left: 5px;
}

.section-form{
  width: 100%;
  background-color: #132220;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}